html {
    font-size: 10px;
}

h1 {
    font-size: 5em;
    text-shadow: 2px 1.5px 2px aqua,
                 2px 2px 2px yellow;
    text-align: center;
    border: 5px double gray;
}
  
p {
    font-family: Arial;
    font-size: 2em;
    color: #dd5de0;
    font-style: oblique;
    font-weight: 900;
    text-align: justify;
    line-height: 1.7;
}
  
p:hover {
    text-transform: lowercase;
    text-decoration: none;
    text-shadow: -1px -2px 1px aqua;
}
  
h1 + p {
    color: purple;
}
  
  